@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!-- bootstrap & fontawesome -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/font-awesome/4.5.0/css/font-awesome.min.css" />
    <!-- text fonts -->
    <link rel="stylesheet" href="~/assets/css/fonts.googleapis.com.css" />
    <!-- ace styles -->
    <link rel="stylesheet" href="~/assets/css/ace.min.css" />
    <link rel="stylesheet" href="~/assets/css/ace-rtl.min.css" />
    <script src="~/assets/js/jquery-1.12.4.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>LIS</title>
    <link rel="shortcut icon" href="~/favicon.png">
</head>
<body class="login-layout">
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/js/required")
    @RenderSection("scripts", false)
</body>
</html>
