@{
    Layout = "~/Views/Shared/_PlainLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/favicon.png">
    <script src="~/assets/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //hide error div
            $('#divError').hide();
            //Login Button Click Event
            $('#btnLogin').click(function () {
                $.ajax({
                    type: 'POST',
                    dataType: 'JSON',
                    url: '/token',
                    data: { username: $('#txtUserName').val(), password: $('#txtPassword').val(), grant_type: 'password' },
                    success: function (data) {
                        //reomve existed access_token
                        localStorage.removeItem('access_token');
                        localStorage.removeItem('userName');
                        //save new token
                        localStorage.setItem('access_token', data.access_token);
                        localStorage.setItem('userName', data.userName);
                        //redirect to homepage
                        window.location.href = '/Auth';
                    },
                    error: function (respond) {
                        //reomve existed access_token
                        localStorage.removeItem('access_token');
                        $('#divErrorText').empty();
                        $('#divErrorText').append('Invalid UserName and Password. Please try again.');
                        $('#divError').show();
                    }
                });
            });
        });
    </script>
</head>
<body style="background-color:#efefef;">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="login-container">
                <div class="center">
                    <h1>
                        <i class="ace-icon fa fa-leaf green"></i>
                        <span class="red">Lottery Information System</span>
                        <span class="white" id="id-text2">LIS</span>
                    </h1>
                </div>
                <div class="space-6"></div>
                <div class="position-relative">
                    <div id="login-box" class="login-box visible widget-box no-border">
                        <div class="widget-body">
                            <div class="widget-main">
                                <h4 class="header blue lighter bigger">
                                    <i class="ace-icon fa fa-coffee green"></i>
                                    Please Enter Your Information
                                </h4>
                                <fieldset>
                                    <label class="block clearfix">
                                        <span class="block input-icon input-icon-right">
                                            <input type="text" class="form-control" placeholder="Username" id="txtUserName" />
                                            <i class="ace-icon fa fa-user"></i>
                                        </span>
                                    </label>
                                    <label class="block clearfix">
                                        <span class="block input-icon input-icon-right">
                                            <input type="password" class="form-control" placeholder="Password" id="txtPassword" />
                                            <i class="ace-icon fa fa-lock"></i>
                                        </span>
                                    </label>
                                    <div class="space"></div>
                                    <div class="clearfix">
                                        <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" id="btnLogin">
                                            <i class="ace-icon fa fa-key"></i>
                                            <span class="bigger-110">Login</span>
                                        </button>
                                    </div>
                                    <div class="space-4"></div>
                                    <div id="divError" class="clearfix">
                                        <div class="alert alert-danger">
                                            <div id="divErrorText"></div>
                                        </div>
                                    </div>
                                </fieldset>
                                <!--login tag-->
                            </div><!-- /.widget-main -->
                        </div><!-- /.widget-body -->
                    </div><!-- /.login-box -->
                </div>
            </div>
        </div>
    </div>
</body>
</html>
