@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lottery Information System</h1>
    <p class="lead">this is Lottery Information Information you find lottery prize.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ထီပေါက်စဉ် တိုက်ကြမယ်လေ</h2>
        <p>ဒီဆိုင်မှာ စိတ်ကြိုက် ထီနံပါတ်တွေ ထိုးလို့ရနေပီနော်</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>ထီပေါက်စဉ်တွေ. ဘာတွေ၀ယ်နေတုန်းလား</h2>
        <p>သင်ပေါက်တယ်ဆိုတာနဲ့ ချက်ခြင်း ကျနော်တို့ စနစ်က တစ်ခါတည်းအသိပေးပီး.အိမ်တန်ရာရောက် လာပို့ဆောင်ပေးမှာနော်</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>ယနေ့ ထီထိုး မနက်ဖြန် ထီပေါက်..အိမ်အရောက်ပို့းပေးမှာနော်</h2>
        <p>အမြဲသစ်လွင်နေတဲ့ အချတ်အလတ်တွေကိုလဲ ..ဖုန်း SMS အနေနဲ့ လူကြီးမင်းတို့ရဲ့ Mobile ဖုန်းများကို အချိန်နဲ့ တပြေးညီ ပို့ပေးနေမှာနော်</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>